@media (prefers-color-scheme: dark) {
    body { background: #333; }

    .answer {
        color: black;
        background-color: white;
        /* padding: 5px;
        margin: auto;
        font-size: x-large; */
    }
}


.container {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr;
    width: 75vw;
    max-width: 100vmin;
    max-height: 90vh;
    margin: 5vmin auto 5vmin auto;
}

.board {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: aqua;
    width: 90%;
    max-width: 80vh;
    max-height: 80vh;
    aspect-ratio: 1;
    margin: auto;
}

.card {
    position: relative;
    display: flex;
    width: 95%;
    aspect-ratio: 1;
    cursor: pointer;
    border-radius: 5%;
    margin: auto;
}

.number {
    display: grid;
    position: absolute;
    width: 15%;
    min-width: 20px;
    aspect-ratio: 1;
    background: aqua;
    color: black;
    /* border-radius: 20%; */
    align-items: center;
    text-align: center;
    z-index: 5;
}

.answers-row {
    position: relative;
    display: flex;
    margin: 10px auto 10px auto;
    width: 100vw;
    max-width: 75vmin;
}

.answer {
    color: white;
    background-color: black;
    padding: 5px;
    margin: auto;
    font-size: x-large;
}

.button {
    cursor: pointer;
    font-size: larger;
}

.black {
    background: black;
}

.gray {
    background: gray;
}

.white {
    background: white;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.green {
    background: lime;
}

.shape {
    position: relative;
    margin: auto;
}

.square {
    width: 75%;
    height: 75%;
}

.circle {
    width: 80%;
    height: 80%;
    border-radius: 50%
}

.triangle {
    width: 85%;
    aspect-ratio: 1/cos(30deg);
    clip-path: polygon(50% 0,100% 100%,0 100%);
}

.selected {
    box-shadow: 0 0 0 6px gold inset !important;
}

.hover {
    box-shadow: 0 0 0 2px gold inset;
}