.container {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr;
    width: 90vw;
    margin: 5vmin auto 5vmin auto;
}

.board {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: aqua;
    width: 90%;
    margin: auto;
    /* height: 80vh; */
    aspect-ratio: 1;
}

.card {
    position: relative;
    display: flex;
    width: 95%;
    aspect-ratio: 1;
    cursor: col-resize;
    border-radius: 5%;
    margin: auto;
}

.number {
    display: grid;
    position: absolute;
    width: 15%;
    min-width: 20px;
    aspect-ratio: 1;
    background: aqua;
    color: black;
    cursor: wait;
    /* border-radius: 20%; */
    align-items: center;
    text-align: center;
    z-index: 5;
}

.answers-row {
    position: relative;
    display: flex;
    margin: 10px auto 10px auto;
}

.answer {
    color: white;
    background-color: black;
    padding: 5px;
    margin: auto;
    font-size: x-large;
}

.button {
    font-size: larger;
}

.black {
    background: black;
}

.gray {
    background: gray;
}

.white {
    background: white;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.green {
    background: lime;
}

.shape {
    position: relative;
    margin: auto;
}

.square {
    width: 75%;
    height: 75%;
}

.circle {
    width: 75%;
    height: 75%;
    border-radius: 50%
}

.triangle {
  width: 85%;
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(50% 0,100% 100%,0 100%);
}